<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule"
                 scriptProcessor="D:\project\yassenng\python\env1\Scripts\python.exe|D:\project\yassenng\python\env1\Lib\site-packages\wfastcgi.py"
                 resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
