
.custom-table th {
    background-color: #343a40;
    color: white;
    text-transform: uppercase;
}

.custom-table td {
    vertical-align: middle;
}

.custom-badge-high {
    background-color: #dc3545;
    color: white;
}

.custom-badge-medium {
    background-color: #ffc107;
    color: black;
}

.custom-badge-low {
    background-color: #28a745;
    color: white;
}

.custom-badge-open {
    background-color: #007bff;
    color: white;
}

.custom-badge-closed {
    background-color: #6c757d;
    color: white;
}