body {
    font-family: 'Roboto', sans-serif;
    background-color: #d3c4c4;
    color: #0e0e0e;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between; /* Positions elements at opposite ends */
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
header h1 {
    margin: 0;
    font-size: 1.5em;
}
nav {
    text-align: center;
    margin-top: 10px;
}
nav button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
nav button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
section {
    width: 90%;
    max-width: 1200px;
    height:120%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    animation: fadeIn 0.5s ease-in;
}
.div1 {
    display: flex;
    flex-direction: column;
}
.div1 label {
    font-weight: bold;
    margin: 5px 0;
}
.div1 select,
.div1 input, form select {
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}
.div1 button {
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
.div1 button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    background-color: #eee;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@media (max-width: 768px) {
    section {
        width: 95%;
    }
    nav button {
        padding: 8px 16px;
    }
}




.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table a {
    color: #ffffff;
    text-decoration: none;
}

button {
    background-color: #009879;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
}

button:hover {
    background-color: #007b63;
}


