* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    color: #333;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #000;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav-center {
    flex-grow: 1;
    text-align: left;
}
.nav-center h1 {
    font-size: 42px;
    color: #000;
    margin: 0;
}
.table-container {
    display: flex;
    width: 100%;
    margin: 40px auto;
    padding: 20px;
    background: #f0ffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
.camps-table-container {
    width: 40%;
    margin-right: 30px;
    height: 500px; /* Increase the height */
    overflow-y: auto;
}
#camps-table {
width: 100%;
border: 1px solid #ddd;
border-radius: 10px;
overflow: hidden;
transition: box-shadow 0.3s ease;
font-size: 26px; /* Larger font for better visibility */
}
#camps-table:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
#camp-details {
    width: 60%;
    height: 500px; /* Increase the height */
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    display: none;
    transition: all 0.3s ease;
}
th, td {
    border: 0px solid #ddd;
    padding: 16px;
    text-align: left;
    font-size: 26px;
}
th {
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
}
th:hover {
    background-color: #0056b3;
}
td {
    background-color: #fff;
    transition: background-color 0.3s ease;
    color: black;
}
td:hover {
    background-color: #f1f1f1;
}
#camps-table th {
    border-radius: 10px;
}
#camp-details-table th {
    background-color: #007BFF;
    color: white;
    text-align: center;
}
#camp-details-table th:hover {
    background-color: #0056b3;
}
#camp-details-table th, #camp-details-table td {
    padding: 10px;
}

#camp-details-table th:nth-child(1),
#camp-details-table td:nth-child(1) {
    width: 10%;
}
#camp-details-table th:nth-child(2),
#camp-details-table td:nth-child(2) {
    width: 15%;
}
#camp-details-table th:nth-child(3),
#camp-details-table td:nth-child(3) {
    width: 30%;
}
#camp-details-table th:nth-child(4),
#camp-details-table td:nth-child(4) {
    width: 15%;
}
#camp-details-table th:nth-child(5),
#camp-details-table td:nth-child(5) {
    width: 15%;
}
#camp-details-table th:nth-child(6),
#camp-details-table td:nth-child(6) {
    width: 15%;
}

img {
    width: 50px;
    height: auto;
}
h2 {
    margin: 0 0 10px;
    text-align: center;
    color: #555;
    font-weight: normal;
    font-size: 1.5em;
}
.camp-name-container {
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
    font-family: Arial, sans-serif;
}
.camp-list-section {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.camp-list-section h1 {
    text-align: left;
    margin-bottom: 15px;
    font-size: 32px;
    color: #007BFF;
}