{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplyify</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/front.css' %}">

</head>

<body>
    <header>
    <h1>Supplyify</h1>
    <button class="login"><a href="login">Login</a></button>
<div class="col-3 col-md-4 mb-3 mb-md-0">
                <form method="POST" action="{% url 'Users' %}" id="zone-form">
                    {% csrf_token %}
                    <select class="menu-dropdown form-control" name="zone" onchange="this.form.submit()">
                        <option disabled selected hidden>Select Zone</option>
                        {% for zone in Zones %}
                        <option value="{{ zone.id }}">{{ zone.name }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
</header>

<div class="container">
    <div class="image-container">
        <img src="{% static 'image/Home.jpg' %}" alt="Image Description">
    </div>
    <div class="text-container">
        <h1>PROVIDE FOOD AND<p>SUPPORT FOR</h1>
        <h2>THOSE IN NEED !</h2>
    </div>
    <div class="bg-container">
        <h1> </h1>
    </div>
</div>

    <footer>
        <div class="footer-content">
            <div class="footer-text">
                <h1>About Us</h1>
                <p>
                    Supplify is a disaster relief supply 
                    management system designed to ensure 
                    the efficient distribution of essential 
                    goods to people affected by natural calamities. 
                    Our platform prevents the over-supply 
                    of unnecessary items and under-supply of 
                    critical resources by providing real-time 
                    insights into what is needed at each relief camp.
                </p>
            </div>            
            <div class="footer-image">
                <img src="https://as2.ftcdn.net/v2/jpg/02/94/21/35/1000_F_294213591_Kohh5RAIgSzAha2bGPj13pGFCVbNtnf3.jpg" alt="Footer Image" />
            </div>
            <div class="footer-container">
                <h1> </h1>
            </div>
        </div>
    </footer>
</body>

</html>
