{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplyify</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/front.css' %}">

</head>

<body>
    <header>
    <h1>Supplyify</h1>
    <button class="login"><a href="{% url 'login' %}">Login</a></button>
<div class="col-3 col-md-4 mb-3 mb-md-0">
                <form method="POST" action="{% url 'Users' %}" id="zone-form">
                    {% csrf_token %}
                    <select class="menu-dropdown form-control" name="zone" onchange="this.form.submit()">
                        <option disabled selected hidden>Select Zone</option>
                        {% for zone in Zones %}
                        <option value="{{ zone.id }}">{{ zone.name }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
</header>

    <section class="image-background">
        <h1>Providing Food and Support for<br>Those in Need</h1>
    </section>

    <nav>
        <div>Our Cause</div>
        <div>Upcoming Events</div>
        <div>Become a Volunteer</div>
    </nav>

    <main>
        <h2>Latest Updates</h2>
        <p>Check the Camps</p>
        <p>Once posts are published, you'll see them There.</p>
    </main>

    <section>
        <p>We believe in the power of compassion and support to make a positive impact on the lives of those affected by natural calamities. Together, we can bring hope and relief to those in need.</p>
    </section>

    <footer>
        <div class="footer-content">
            <div class="footer-text">
                <h1>Get Involved</h1>
                <p>Support Those in Need</p>
                <button>Contribute Now</button>
            </div>
            <div class="footer-image">
                <img src="https://gdb.voanews.com/dabf7569-6b52-4683-a3fd-a24ecf0d483e_w1023_r1_s.jpg" alt="Footer Image" />
            </div>
        </div>
    </footer>
</body>

</html>