{% extends "notification.html" %}

{% block content %}
<h2>Publish Notification</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Display form fields -->
    <button type="submit" class="btn btn-primary">Publish</button>
    <p>
        <a href="{% url 'notification_detail' %}" class="btn btn-secondary">Back to Notifications</a>
</form> 

<ul>
    {% for Notification in Notifications %}
    <li>
        <strong>{{ notification.subject }}</strong> - {{ notification.publish_date }}
        <a href="{% url 'notification_detail' notification.id %}" target="_blank">View Details</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
